// wpo-case-single-area
.wpo-case-single-area {

    .case-single-wrap {

        .case-single-slider {
            position: relative;

            .case-single-img {
                img {
                    width: 100%;
                }
            }

            

            .owl-prev {
                position: absolute;
                right: -2%;
                top: 50%;
            }

            .owl-next {
                position: absolute;
                right: -2%;
                top: 57%;
            }

            .owl-prev,
            .owl-next {
                border: 0;
                background: $white;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transition: all .4s ease-in-out;

                i {
                    color: #b1b1b1;
                    transition: all .4s ease-in-out;

                    &::before {
                        font-size: 25px;
                    }

                }

                &:hover {
                    i {
                        color: $theme-primary-color;
                    }
                }
            }
        }
        
    }
}