// wpo-case-single-area
.wpo-case-single-area {

    .case-single-wrap {

        .case-single-slider {
            position: relative;

            .case-single-img {
                img {
                    width: 100%;
                }
            }



            .owl-prev {
                position: absolute;
                right: -2%;
                top: 44%;
            }

            .owl-next {
                position: absolute;
                right: -2%;
                top: 53%;
            }

            .owl-prev,
            .owl-next {
                border: 0;
                background: $white;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transition: all .4s ease-in-out;

                i {
                    color: #b1b1b1;
                    transition: all .4s ease-in-out;

                    &::before {
                        font-size: 25px;
                    }

                }

                &:hover {
                    i {
                        color: $theme-primary-color;
                    }
                }
            }
        }
    }

    .case-single-info {
        margin-left: 121px;

        tr {
            margin-bottom: 9px;

            .title,
            .text {
                border: 0;
                text-transform: uppercase;
                text-decoration: underline;
                color: $text-color-s2;
                font-weight: 700;
                font-size: 13px;
                letter-spacing: 3px;
            }

            .text {
                color: $text-color-s3;
                font-weight: 600;
                font-size: 13px;
            }
        }
    }

    .case-single-text {
        margin-top: 52px;
        margin-bottom: 74px;

        h2 {
            color: $text-color-s2;
            font-weight: 400;
            font-size: 36px;
            font-family: $base-font;
            margin-bottom: 13px;
        }

        p {
            color: $text-color-s3;
            font-weight: 400;
            font-size: 16px;
        }
    }

    .case-single-project {
        border-top: 1px solid #e9e9eb;
        border-bottom: 1px solid #e9e9eb;
        padding: 25px 0;

        .prev-project,
        .next-project {
            color: $small-black;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 3px;
            width: 100%;
        }

        .prev-project {
           
        }

        .next-project {
            display: flex;
            justify-content: end;
        }

        .project-icon{
            text-align: center;
            i{
                color: $small-black;
                font-size: 20px;
            }
        }
    }
    .case-studies-related{
        padding: 120px 0;
        h2{
            color: $text-color-s2;
            font-size: 36px;
            font-weight: 400;
            font-family:$base-font;
            margin-bottom: 50px;
        }
    }
  

}