// wpo-contact-area
.wpo-contact-area {
    padding-bottom: 35px;

    .contact-title {
        span {
            text-transform: uppercase;
            color: $text-color-s3;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 5px;
        }

        h3 {
            color: $text-color-s2;
            font-size: 48px;
            font-weight: 600;
            font-family: $base-font;
            margin-bottom: 16px;
            margin-top: 5px;

            @media (max-width:575px) {
                font-size: 38px;
            }
        }

        p {
            color: $text-color-s3;
            font-size: 16px;
            font-weight: 600;
        }
    }

    .contact-info {

        .content {
            h3 {
                text-transform: uppercase;
                color: $theme-primary-color;
                font-size: 14px;
                font-weight: 700;
                font-family: $base-font;
            }

            p,
            h5 {
                color: $text-color-s2;
                font-size: 18px;
                font-weight: 700;
                font-family: $base-font;
                @media (max-width:575px) {
                    font-size: 17px;
                }
            }

            .phone {


                a {
                    color: $text-color-s2;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: $base-font;
                    display: flex;
                }
            }
            border-right: 1px solid #ebebeb;
            margin-bottom: 20px;

            @media (max-width:991px) {
                border: 0;
            }
        }

        .col {
            &:last-child {
                .content {
                    border-right: 0;
                }
            }
        }
    }

    .contact-form-area {
        margin-top: 55px;

        .form-title {
            margin-bottom: 45px;

            h2 {
                color: $text-color-s2;
                font-size: 30px;
                font-weight: 600;
                font-family: $base-font;
                margin-bottom: 0;

                i {
                    color: $theme-primary-color;

                    &::before {
                        font-size: 20px;
                    }
                }
            }
        }
        .input-content{
            margin-bottom: 85px;
            @media (max-width:991px) {
                margin-bottom: 60px;
            }
            @media (max-width:767px) {
                margin-bottom: 30px;
            }


            .fc-contact,
            .form-Select,
            .fc-contact-text {
                width: 100%;
                height: 65px;
                border: 0;
                border-bottom: 1px solid #b6bbc5;
                transition: all .4s ease-in-out;
                color: #7a7c7f;
                font-size: 18px;
                font-weight: 400;
                padding: 0 24px;
                
    
                &:focus-visible {
                    outline: 0;
                    border-bottom: 1px solid $theme-primary-color
                }
            }
    
            .form-Select {
                background: $white url(../images/select-icon2.png) no-repeat calc(100% - 50px) center;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
    
            .fc-contact-text {
                height: 50px;
            }
        }

        .theme-btn {
            border-radius: 0;
            text-transform: uppercase;
            width: 100%;
            letter-spacing: 5px;
            padding: 13px 0;
        }

    }

}

// wpo-contact-map-section
.wpo-contact-map-section {
    padding-bottom: 120px;

    @media (max-width:991px) {
        padding-bottom: 90px;
    }

    @media (max-width:767px) {
        padding-bottom: 80px;
    }

    .wpo-contact-map {
        height: 550px;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: 0;
        outline: 0;
    }


}