/*======================================
5. Home-style-2
 =======================================*/

/* 5.1 wpo-features-section-s2 */

.wpo-features-section-s2,
.wpo-features-section-s3,
.wpo-features-section-s4 {
    padding-top: 10px;

    .features-wrap {
        .features-single {

            span {
                font-size: 60px;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $small-white;
            }

            h3 {
                a {
                    font-size: 24px;
                }
            }

            p {
                margin-top: 14px;
                color: rgb(60, 96, 146);
            }
        }
    }
}

/* 5.2 wpo-about-section-s2 */

.wpo-about-section-s2 {
    padding-top: 0;

    .wpo-about-text {

        ul {
            li {
                padding-left: 0;
                margin-bottom: 15px;
                color: $text-color-s3;

                &::before {
                    display: none;
                }

                span {
                    margin-right: 15px;
                    font-size: 14px;
                    border-radius: 50%;
                    padding: 5px 10px;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0px 3px 6.51px 0.49px rgba(0, 0, 0, 0.22);
                }
            }
        }

        .theme-btn {
            text-transform: uppercase;
        }
    }

    .about-right-img {
        position: relative;
        z-index: 1;
        overflow: hidden;

        &::before {
            position: absolute;
            left: 56%;
            top: 62%;
            background: #7898a3;
            width: 570px;
            height: 710px;
            content: '';
            z-index: -1;
            transform: translate(-50%, -50%);
        }

        img {}
    }
}

/* 5.3 wpo-fun-fact-section-s2 */

.wpo-fun-fact-section-s2 {
    margin-bottom: 0;


    .wpo-fun-fact-grids {
        @media (max-width:991px) {
            justify-content: center;
        }

        .grid {
            width: 25%;
            margin-top: 0;
            justify-content: center;

            @media (max-width:991px) {
                width: 50%;
                justify-content: start;
            }

            @media (max-width:767px) {
                width: 100%;
            }

            .fun-fact-img {
                i {
                    &::before {
                        color: $text-color-s3;
                    }
                }
            }

            .info {
                border-left: 1px solid $border-color-s2;
                padding-left: 7px;
                margin-left: 8px;
                color: $text-color-s3;

                h3 {
                    span {
                        color: $text-color-s3;
                    }

                    i {
                        &::before {
                            color: $text-color-s3;
                        }
                    }
                }

                p {
                    color: $text-color-s3;
                }
            }
        }
    }
}

/* 5.4 wpo-service-section-s2 */

.wpo-service-section-s2,
.wpo-service-section-s3,
.wpo-service-section-s4 {
    @media (max-width:991px) {
        padding-bottom: 50px;
    }

    .service-wrap {

        .service-single {
            text-align: center;

            @media (max-width:991px) {
                padding-bottom: 30px;
            }

            h3 {
                text-align: center;
                display: flex;
                justify-content: center;
                padding-right: 0;
                padding-bottom: 30px;

                &::before {
                    left: 50%;
                    top: 80%;
                }

                a {
                    padding: 0 25px;

                    @media (max-width:991px) {
                        padding: 0;
                    }

                }
            }

            p {
                @media (max-width:991px) {
                    margin: 0;
                }
            }
        }
    }
}

/* 5.5 wpo-team-section-s2 */

.wpo-team-section-s2 {

    .team-wrap {
        margin: 0;
        padding-bottom: 120px;

        @media (max-width:991px) {
            padding-bottom: 90px;
        }

        @media (max-width:767px) {
            padding-bottom: 80px;
        }

        .team-slider-s2 {
            .team-single {
                margin-bottom: 0;
                max-height: 520px;
                height: 100%;
                overflow: hidden;
                border-radius: 10px;

                .team-img {

                    img {
                        border-radius: 10px;
                        height: auto;
                    }

                    .team-content {
                        text-align: center;
                        border-radius: 10px;
                        background: #fffffff2;
                        left: 50%;
                        width: 470px;
                        bottom: 30%;

                        @media (max-width:1199px) {
                            width: 250px;
                            padding: 15px;
                        }

                        @media (max-width:390px) {
                            width: 180px;
                            padding: 0 5px;

                        }

                        h3 {
                            margin-bottom: 10px;

                            a {
                                color: $small-black;
                                font-family: $heading-font;
                                font-size: 30px;


                                @media (max-width:1199px) {
                                    font-size: 19px;
                                }

                                @media (max-width:390px) {
                                    font-size: 15px;
                                }
                            }
                        }

                        span {
                            color: $theme-primary-color;
                            text-transform: uppercase;
                        }
                    }
                }

                &:hover {
                    .team-content {
                        opacity: 0;
                        visibility: hidden;
                    }
                }

            }


            .owl-nav.disabled {
                display: none;
            }

            .owl-nav button {
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: #000;
                color: #fff;
                margin: 0;
                transition: all 0.3s ease-in-out;
            }

            .owl-nav button.owl-prev {
                left: 0;
            }

            .owl-nav button.owl-next {
                right: 0;
            }

            .owl-dots {
                padding-top: 61px;
                text-align: center;
            }

            .owl-dots button.owl-dot {
                width: 12px;
                height: 12px;
                border: 0;
                border-radius: 50%;
                display: inline-block;
                background: #c8c8c8;
                margin: 0 5px;
                transition: all 0.3s ease-in-out;
            }

            .owl-dots button.owl-dot.active {
                background: $theme-primary-color;
            }

            .owl-dots button.owl-dot:focus {
                outline: none;
            }

            .owl-nav button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: rgba(255, 255, 255, 0.38) !important;
            }

            span {
                font-size: 70px;
                position: relative;
                top: -5px;
            }

            .owl-nav button:focus {
                outline: none;
            }



            .owl-item.active.center {
                .team-single {
                    .team-img {
                        .team-content {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

        }
    }
}

/* 5.6 wpo-bussiness-area-section */

.wpo-bussiness-area-section {
    background: url(../images/cta-img-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;

    .bussiness-text {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;

        h2 {
            color: $white;
            font-size: 48px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0;

            @media (max-width:767px) {
                font-size: 30px;
            }

            @media (max-width:424px) {
                font-size: 20px;
            }

            .first-text {
                display: flex;
                justify-content: center;
                width: 100%;
                background: $theme-primary-color;
                padding: 10px 35px;
                margin-bottom: 10px;
                clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 6% 50%);
                transform: rotate(353deg);
            }

            .second-text {
                display: flex;
                justify-content: center;
                width: 100%;
                background: $theme-primary-color;
                padding: 10px 35px;
                margin-bottom: 10px;
                transform: rotate(353deg);
                clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
            }

            .third-text {
                display: flex;
                justify-content: center;
                width: 100%;
                background: $theme-primary-color;
                padding: 10px 35px;
                margin-bottom: 10px;
                clip-path: polygon(14% 0, 100% 0, 95% 50%, 100% 100%, 14% 100%, 0 50%);
                transform: rotate(353deg);

            }
        }
    }

    .right-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 100%;

        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* 5.7 wpo-testimonial-section */

.wpo-testimonial-section,
.wpo-testimonial-section-s2 {
    padding-top: 60px;

    .text-musk-s2 {
        margin-bottom: 70px;

        @media (max-width:767px) {
            margin: 0;
        }


        .text-musk-title {
            background: url(../images/text-moqup.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            padding: 0;
        }

        h1 {
            text-align: center;
            font-size: 207px;
            font-weight: 400;
            color: $text-color-s2;

            @media (max-width:1399px) {
                font-size: 195px;
            }

            @media (max-width:1199px) {
                font-size: 165px;
            }

            @media (max-width:991px) {
                font-size: 120px;
            }

            @media (max-width:767px) {
                font-size: 50px;
            }
        }
    }

    .testimonial-wrap {

        border-bottom: 1px solid #e0e2e8;

        @media (max-width:767px) {
            padding-bottom: 10px;
        }

        .testimonial-icon {
            justify-content: center;
            display: flex;
            align-items: center;
            border-right: 1px solid #e0e2e8;

            @media (max-width:767px) {
                border-right: 0;
            }

            i {
                &::before {
                    color: $text-color-s5;
                    font-size: 180px;

                    @media (max-width:991px) {
                        font-size: 125px;
                    }
                }
            }
        }

        .testimonial-content {

            h5 {
                color: $text-color-s2;
                font-size: 24px;
                font-style: italic;
                margin-bottom: 23px;
                line-height: 38px;
                margin-right: 150px;
                font-weight: 500;

                @media (max-width:991px) {
                    font-size: 20px;
                    margin-bottom: 0;
                    margin-right: 80px;
                    line-height: 30px;
                }

                @media (max-width:767px) {
                    margin-bottom: 10px;
                    margin-right: 0;
                }
            }

            h3 {
                a {
                    color: $theme-primary-color;
                    font-size: 18px;
                    font-weight: 400;
                    font-family: $base-font;
                }
            }

            span {
                color: $text-color-s3;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .owl-nav.disabled {
            display: none;
        }

        .owl-nav button {
            position: absolute;
            top: 50%;
            background-color: #000;
            color: #fff;
            margin: 0;
            transition: all 0.3s ease-in-out;
        }

        .owl-nav button.owl-prev {
            left: 0;
        }

        .owl-nav button.owl-next {
            right: 0;
        }

        .owl-dots {
            padding-top: 15px;
        }

        .owl-dots button.owl-dot {
            width: 10px;
            height: 10px;
            border: 0;
            border-radius: 50%;
            display: inline-block;
            background: #c8c8c8;
            margin: 0 3px;
            transition: all 0.3s ease-in-out;
        }

        .owl-dots button.owl-dot.active {
            width: 55px;
            border-radius: 8px;
            background: $theme-primary-color;
            margin: 0 20px;
        }

        .owl-dots button.owl-dot:focus {
            outline: none;
        }

        .owl-nav button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.38) !important;
        }

        span {
            font-size: 70px;
            position: relative;
            top: -5px;
        }

        .owl-nav button:focus {
            outline: none;
        }
    }
}