/*======================================
5. Home-style-3
 =======================================*/

/* 6.1 wpo-features-section-s3 */

.wpo-features-section-s3,
.wpo-features-section-s4 {
    padding-top: 95px;
    padding-bottom: 65px;

    @media (max-width:991px) {
        padding-top: 90px;
        padding-bottom: 7px;
    }

    @media (max-width:767px) {
        padding-top: 80px;
    }
    @media (max-width:575px) {
        padding-top: 50px;
    }

    .features-wrap {

        .features-single {
            h3 {
                a {
                    font-family: $base-font;
                    font-weight: 600;
                    color: $text-color-s2;
                }
            }
        }
    }
}

/* 6.2 wpo-free-consultation-section */

.wpo-free-consultation-section,
.wpo-free-consultation-section-s2 {
    .free-consultation-wrap {
        position: relative;
        background: url(../images/consultaion-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 1;
        overflow: hidden;

        .free-consultation-content {
            h3 {
                color: $white;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 15px;
                text-transform: uppercase;
                font-family: $base-font;
                text-decoration: underline;
                margin-bottom: 28px;

                @media (max-width:767px) {
                    letter-spacing: 2px;
                }
            }

            .fc-contact {
                .fc-contact-text {
                    margin-bottom: 20px;

                    .fc-contact-name,
                    .form-controls,
                    .fc-contact-number {
                        width: 100%;
                        color: $text-color-s2;
                        font-size: 15px;
                        font-weight: 600;
                        text-transform: capitalize;
                        padding: 20px;
                        border: 0;

                        @media (max-width:767px) {
                            padding: 12px 18px;
                        }

                        &:focus-visible {
                            outline: 0;
                        }
                    }

                    .form-controls {
                        background: $white url(../images/select-icon2.png) no-repeat calc(100% - 15px) center;
                        border-color: transparent;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;

                        &:focus {
                            border-color: transparent;
                            box-shadow: transparent;
                        }
                    }

                    .fc-contact-number {}
                }

                .theme-btn {
                    border-radius: 0;
                    text-transform: uppercase;
                    width: 100%;
                    font-weight: 700;
                }
            }

        }
    }
}

/* 6.3 wpo-service-section-s3 */

.wpo-service-section-s3,
.wpo-service-section-s4 {
    padding-bottom: 40px;

    @media (max-width:767px) {
        padding-bottom: 30;
    }

    .wpo-section-title {
        h2 {
            font-family: $base-font;
        }
    }

    .service-wrap {

        .service-single {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            .service-icon {
                i {
                    &::before {
                        color: #8d95a0;
                        font-size: 60px;
                    }
                }
            }

            .content {
                text-align: start;
                padding-left: 25px;

                h3 {
                    padding-bottom: 25px;
                    display: inline-block;
                    text-align: start;
                    margin-right: 110px;

                    @media (max-width:1399px) {
                        margin-right: 45px;
                    }

                    @media (max-width:1199px) {
                        margin-right: 30px;
                    }

                    @media (max-width:767px) {
                        margin-right: 0;
                    }

                    a {
                        padding: 0;
                        font-size: 18px;
                        font-family: $base-font;
                        font-weight: 700;
                    }

                    &::before {
                        position: unset;
                        display: none;
                    }
                }

                p {
                    margin-right: 45px;

                    @media (max-width:1199px) {
                        margin-right: 0;
                    }

                }

            }
        }
    }
}

/* 6.4 wpo-case-studies-section */

.wpo-case-studies-section,
.wpo-case-studies-section-s2,
.case-studies-related {

    .title {
        margin-bottom: 32px;

        h5 {
            font-size: 150px;
            color: $text-color-s2;
            text-transform: uppercase;
            font-weight: 300;
            font-family: $base-font;
            text-align: center;

            @media (max-width:1199px) {
                font-size: 130px;
            }

            @media (max-width:991px) {
                font-size: 100px;
            }

            @media (max-width:767px) {
                font-size: 75px;
            }

            @media (max-width:540px) {
                font-size: 40px;
            }
        }
    }

    .case-studies-wrap {

        .case-studies-content {
            padding: 127px 90px;
            background: $section-bg-color;

            @media (max-width:1440px) {
                padding: 20px;
            }

            @media (max-width:991px) {
                padding: 50px;
            }

            @media (max-width:374px) {
                padding: 20px;
            }

            .content-info {
                background: $white;
                padding: 30px;
                width: 230px;
                margin-bottom: 50px;

                h4,
                h5 {
                    font-size: 14px;
                    color: $text-color-s2;
                    text-transform: uppercase;
                    font-weight: 500;
                    text-align: left;
                    font-family: $heading-font;
                    display: block;
                    font-family: $base-font;

                    span {
                        font-weight: 700;
                        font-size: 14px;
                        color: $text-color-s2;
                        display: inline-block;
                    }
                }


                h4{
                    margin-bottom: 0;
                }
            }

            h3 {
                font-size: 36px;
                font-family: $base-font;
                font-weight: 600;
                color: $text-color-s2;
                margin-bottom: 20px;
            }

            p,
            .bottom-pera {
                color: $text-color-s2;
                font-size: 16px;
                font-weight: 600;

            }

            .bottom-pera {
                padding-top: 8px;
            }

            .theme-btn {
                margin-top: 13px;
                border-radius: 0;
                text-transform: uppercase;

                @media (max-width:767px) {
                    margin-top: 30px;
                }
            }
        }

        .case-studies-right {
            overflow: hidden;

            @media (max-width:991px) {
                margin-top: 30px;
            }

            .case-studies-simgle-item {
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                }

                .text {
                    position: absolute;
                    max-width: 350px;
                    width: 100%;
                    left: 50%;
                    top: 100%;
                    transform: translateX(-50%);
                    background: $theme-primary-color;
                    padding: 30px 25px;
                    color: $white;
                    transition: all .4s ease-in-out;

                    h3 {
                        margin-bottom: 0px;
                        a {
                            font-weight: 700;
                            font-size: 18px;
                            color: $white;
                            font-family: $base-font;
                        }
                    }

                    span {
                        font-weight: 400;
                        font-size: 10px;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                    }
                }

                &:hover {
                    .text {
                        top: 60%;
                    }
                }

            }
        }

    }

}

/* 6.5 wpo-why-choose-us-section */

.wpo-why-choose-us-section {
    padding-bottom: 86px;

    .section-bg-img {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 11;

        img {
            width: 100%;
        }

        .why-choose-us-content {
            position: absolute;
            top: 50%;
            left: 34%;
            max-width: 500px;
            width: 100%;
            transform: translate(-50%, -50%);
            padding: 95px 55px;
            color: $white;
            z-index: 1;

            @media (max-width:991px) {
                left: 50%;
            }

            @media (max-width:540px) {
                padding: 20px 10px;
                left: 52%;
            }

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: $theme-primary-color;
                opacity: .9;
                z-index: -1;
            }

            h3 {
                color: $white;
                font-family: $base-font;
                font-size: 39px;
                font-weight: 300;
                margin-bottom: 27px;

                @media (max-width:540px) {
                    font-size: 20px;
                }
            }

            p {
                color: $white;
                font-family: $base-font;
                font-size: 16px;
                font-weight: 300;
                margin-bottom: 44px;

                @media (max-width:540px) {
                    font-size: 15px;
                    margin-bottom: 25px;
                }
            }

            .theme-btn {
                background: transparent;
                border-radius: 0;
                border: 1px solid $white;
                text-transform: uppercase;

                &:hover {
                    background: $white;
                    color: $text-color-s2;
                }
            }
        }



    }
}

/* 6.6 wpo-testimonial-section-s2 */

.wpo-testimonial-section-s2,
.wpo-testimonial-section-s3 {
    padding-top: 0;

    .text-musk-s3 {
        margin-bottom: 67px;

        @media (max-width:767px) {
            margin-bottom: 0;
            text-align: center;
        }

        h5 {
            font-size: 150px;
            color: $text-color-s2;
            text-transform: uppercase;
            font-weight: 300;
            font-family: $base-font;
            text-shadow: 0px 4px 8.73px rgba(0, 0, 0, 0.26);

            @media (max-width:1399px) {
                font-size: 130px;
            }

            @media (max-width:1199px) {
                font-size: 110px;
            }

            @media (max-width:991px) {
                font-size: 82px;
            }

            @media (max-width:767px) {
                font-size: 50px;
            }

            @media (max-width:424px) {
                font-size: 33px;
            }

            span {
                color: $theme-primary-color;

                @media (max-width:1399px) {
                    font-size: 130px;
                }

                @media (max-width:1199px) {
                    font-size: 110px;
                }

                @media (max-width:991px) {
                    font-size: 82px;
                }

                @media (max-width:767px) {
                    font-size: 50px;
                }

                @media (max-width:424px) {
                    font-size: 33px;
                }
            }
        }
    }

    .testimonial-wrap {

        .testimonial-content {
            h5 {
                font-family: $base-font;
            }

            span {
                text-transform: uppercase;
            }
        }
    }

    &.pt-35 {
        padding-top: 35px;

        @media (max-width:991px) {
            padding-top: 0;

        }
    }
}

/* 6.7 wpo-blog-section-s2 */

.wpo-blog-section-s2 {
    .wpo-section-title {
        h2 {
            font-family: $base-font;
        }
    }
}